2/node_modules
4/backend/node_modules
4/frontend/node_modules
5/backend/node_modules
5/frontend/node_modules
7-8/node_modules
9-10-11/client/node_modules
9-10-11/server/node_modules
13-16/node_modules
13-16/mkcert.exe
13-16/package-lock.json
13-16/localhost+2-key.pem
13-16/localhost+2.pem